Package: com.ihack102.adblockforyoutube
Name: Adblock For YouTube
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: iHack102
Author: iHack102
Section: Tweaks
Version: 0.0.1-1
Installed-Size: 16
